<div id="music-container" class="row">
</div>

<div class="body">
  <div class="row-fluid">
    <div class="span12">

      <div id="navigation">
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">

      <div class="discovery">

        <div id="band">
        </div>

        <div id="song">
          <div id="likes"></div>
          <div id="dislikes"></div>
        </div>


        <div id="playlist">
        </div>

      </div>

    </div>
    <div class="span4">

      <div id="playlist-creator">
      </div>

    </div>
  </div>
</div>

  <!-- HANDLEBARS SCRIPTS -->

  <!-- navbar -->
  <script id="navigation-show" type="text/x-handlebars-template">
    <%= render :partial => "playlists/navigation.html" %>
  </script>

  <!-- player templates -->
  <script id="player-show" type="text/x-handlebars-template">
    <%= render :partial => "playlists/player_show.html" %>
  </script>

  <script id="cued-song" type="text/x-handlebars-template">
    <%= render :partial => "playlists/cued_song.html" %>
  </script>

  <script id="prompt-user" type="text/x-handlebars-template">
    <%= render :partial => "playlists/prompt_user.html" %>
  </script>

  <!-- playlist templates -->
  <script id="playlists-create" type="text/x-handlebars-template">
    <%= render :partial => "playlists/create.html" %>
  </script>

  <script id="playlists-index" type="text/x-handlebars-template">
    <%= render :partial => "playlists/index.html" %>
  </script>

  <script id="playlists-show" type="text/x-handlebars-template">
    <%= render :partial => "playlists/show.html" %>
  </script>

  <!-- bands templates -->
  <script id="bands-index" type="text/x-handlebars-template">
    <%= render :partial => "bands/index.html" %>
  </script>

  <script id="bands-show" type="text/x-handlebars-template">
    <%= render :partial => "bands/show.html" %>
  </script>

  <!-- songs templates -->
  <script id="liked-show" type="text/x-handlebars-template">
    <%= render :partial => "songs/liked_songs.html" %>
  </script>

  <script id="disliked-show" type="text/x-handlebars-template">
    <%= render :partial => "songs/disliked_songs.html" %>
  </script>