<div id="music-container" class="row-fluid">
</div>

<div id="navigation">
</div>

<div class="body">

  <% if flash[:log_in_error] %>
    <div class="row-fluid">
      <div class="span12">
        <div class="well well-small alert"><%= flash[:log_in_error] %> 
          <%= link_to "Forgot your password?", new_user_password_path %></div>
      </div>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span4" id="playlist-container">

      <div id="playlist-creator">
      </div>

    </div>
    <div class="span8">

      <div class="discovery">

        <div id="band">
        </div>

        <div id="song">
          <div id="likes"></div>
          <div id="dislikes"></div>
        </div>


        <div id="playlist">
        </div>

      </div>

    </div>
  </div>
</div>
  <!-- HANDLEBARS SCRIPTS -->

  <!-- navbar -->
  <script id="navigation-show" type="text/x-handlebars-template">
    <%= render :partial => "shared/navigation.html" %>
  </script>

  <script id="session-new" type="text/x-handlebars-template">
    <%= render :partial => "shared/new_session.html" %>
  </script>

  <script id="user-new" type="text/x-handlebars-template">
    <%= render :partial => "shared/new_user.html" %>
  </script>

  <!-- player templates -->
  <script id="player-show" type="text/x-handlebars-template">
    <%= render :partial => "player/player_show.html" %>
  </script>

  <script id="cued-song" type="text/x-handlebars-template">
    <%= render :partial => "player/cued_song.html" %>
  </script>

  <script id="prompt-user" type="text/x-handlebars-template">
    <%= render :partial => "player/prompt_user.html" %>
  </script>

  <script id="welcome-user" type="text/x-handlebars-template">
    <%= render :partial => "player/welcome_user.html" %>
  </script>

  <!-- playlist templates -->
  <script id="playlists-create" type="text/x-handlebars-template">
    <%= render :partial => "playlists/create.html" %>
  </script>

  <script id="playlists-index" type="text/x-handlebars-template">
    <%= render :partial => "playlists/index.html" %>
  </script>

  <script id="playlists-show" type="text/x-handlebars-template">
    <%= render :partial => "playlists/show.html" %>
  </script>

  <script id="playlists-error" type="text/x-handlebars-template">
    <%= render :partial => "playlists/playlist_error.html" %>
  </script>

  <!-- bands templates -->
  <script id="bands-index" type="text/x-handlebars-template">
    <%= render :partial => "bands/index.html" %>
  </script>

  <script id="bands-show" type="text/x-handlebars-template">
    <%= render :partial => "bands/show.html" %>
  </script>

  <!-- songs templates -->
  <script id="liked-show" type="text/x-handlebars-template">
    <%= render :partial => "songs/liked_songs.html" %>
  </script>

  <script id="disliked-show" type="text/x-handlebars-template">
    <%= render :partial => "songs/disliked_songs.html" %>
  </script>